$lighGreen: #b9e7e7;

body {
  margin: 0;
  padding: 0;
}
.app {
  display: flex;
  justify-content: center;

  .container {
    width: 1024px;

    .link {
      text-decoration: none;
      color: inherit;
    }

    // LOGIN & REGISTER
    .auth {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: $lighGreen;
      flex-direction: column;

      h1 {
        font-size: 2px;
        color: teal;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 50px;
        background-color: white;
        width: 200px;
        gap: 20px;

        input {
          padding: 10px;
          border: none;
          border-bottom: 1px solid gray;
        }
        button {
          padding: 10px;
          border: none;
          background-color: teal;
          cursor: pointer;
          color: white;
        }
        p {
          font-size: 12px;
          color: red;
          text-align: center;
        }
        span {
          font-size: 10px;
          text-align: center;
        }
      }
    }

    // NAVBAR

    .navbar {
      .container {
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
          width: 120px;
        }
        .links {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;

          h6 {
            font-weight: 300;
            font-size: 16px;
          }

          span {
            cursor: pointer;
          }

          .write {
            background-color: $lighGreen;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 300;
            border: 1px solid transparent;

            &:hover {
              color: teal;
              background-color: white;
              border: 1px solid teal;
            }
          }
        }
      }
    }

    // FOOTER

    footer {
      margin-top: 100px;
      padding: 20px;
      background-color: $lighGreen;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-style: 12px;
      img {
        height: 50px;
      }
    }

    // HOME

    .home {
      .posts {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 150px;
      }

      .post {
        display: flex;
        gap: 100px;

        .img {
          flex: 2;
          img {
            width: 100%;
            max-height: 400px;
            object-fit: cover;
          }
        }

        .content {
          flex: 3;
        }
      }
    }
  }
}
